/** @format */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Prompt:wght@500&display=swap");

$font-fam-Prompt: "Prompt", sans-serif;
$font-fam-Montserrat: "Montserrat", sans-serif;
$light-color: #fff;
$dark-color: #080000;
$light-color2: rgb(240, 240, 15);

.main {
	.contact-section {
		background: url("https://images.pexels.com/photos/358627/pexels-photo-358627.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
		background-size: cover;
		background-repeat: no-repeat;
		height: 100vh;

		.contact-canvas {
			h2 {
				padding: 50px;
			}
			background-color: $light-color;
			height: 80vh;
			width: 600px;
			border-radius: 5px;
			position: relative;
			margin-left: auto;
			margin-right: auto;
			top: 100px;
			.contact-field {
				display: grid;
				margin-top: -50px;
				width: 500px;
				margin-left: auto;
				margin-right: auto;

				input {
					font-family: $font-fam-Montserrat;
					font-size: 0.9rem;
					margin-top: 70px;
					outline: none;
					border-top: none;
					border-left: none;
					border-right: none;
					border-bottom: 1px solid gray;
				}
				.contact-btn {
					height: 50px;
					width: 100px;
					width: 100px;
					border-radius: 50px;
					border: none;
					width: 100px;
					font-family: "Montserrat", sans-serif;
					cursor: pointer;
					font-size: 14px;
					background: #fff;
				}
				.contact-no {
					margin-top: 80px;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					text-align: center;
					.contact-btn {
						height: 50px;
						width: 100px;
						border-radius: 50px;
						border: none;
						width: 200px;
						background-color: $light-color2;
						color: $light-color;
						margin-top: 5px;
						cursor: pointer;
					}
					h4,
					p {
						font-family: $font-fam-Prompt;
						color: gray;
					}
					h4 {
						color: #ff1900b6;
						font-family: $font-fam-Prompt;
						font-weight: 800;
					}
				}
			}
		}
	}
}

/* Media queries */

@media (max-width: 1440px) {
	.main {
		.contact-section {
			.contact-canvas {
				h2 {
					padding: 100px;
				}
				height: 650px;
				width: 600px;
				top: 20px;
				.contact-field {
					margin-top: -100px;

					input {
						width: 400px;
						margin: 0 auto;
						margin-top: 70px;
					}
				}
			}
		}
	}
}
@media (max-width: 1024px) {
	.main {
		.contact-section {
			.contact-canvas {
				h2 {
					padding: 50px;
				}
				height: 650px;
				width: 600px;
				top: 20px;
				.contact-field {
					margin-top: 0;

					input {
						width: 400px;
						margin-top: 70px;
					}
				}
			}
		}
	}
}

@media (max-width: 992px) {
	.main {
		.contact-section {
			.contact-canvas {
				h2 {
					padding: 50px;
				}
				height: 650px;
				width: 600px;
				top: 20px;
				.contact-field {
					margin-top: 0;

					input {
						width: 400px;
						margin-top: 70px;
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.main {
		.contact-section {
			.contact-canvas {
				h2 {
					padding: 50px;
				}
				height: 650px;
				width: 500px;
				top: 20px;
				.contact-field {
					margin-top: 0;

					input {
						width: 400px;
						margin-top: 70px;
					}
				}
			}
		}
	}
}
@media (max-width: 570px) {
	.main {
		.contact-section {
			.contact-canvas {
				height: 650px;
				width: 400px;
				top: 10px;
				.contact-field {
					width: 100%;
					margin-left: auto;
					margin-right: auto;

					input {
						width: 300px;
						margin-left: 50px;
					}
				}
				.contact-no {
					h4,
					p {
						margin-left: auto;
						margin-right: auto;
					}
				}
			}
		}
	}
}

@media (max-width: 425px) {
	.main {
		.contact-section {
			.contact-canvas {
				height: 670px;
				width: 300px;
				top: 10px;
				.contact-field {
					margin-top: 0;
					width: 100%;
					margin-left: auto;
					margin-right: auto;
					input {
						width: 200px;
						margin-left: auto;
						margin-right: auto;
					}
				}
				.contact-no {
					h4,
					p {
						margin-left: auto;
						margin-right: auto;
					}
				}
			}
		}
	}
}
@media (max-width: 320px) {
	.main {
		.contact-section {
			.contact-canvas {
				height: 650px;
				width: 300px;
				top: 10px;

				.contact-field {
					margin-top: -20px;
					width: 100%;
					margin-left: auto;
					margin-right: auto;
					input {
						width: 200px;
						margin-left: auto;
						margin-right: auto;
					}
				}
				.contact-no {
					h4,
					p {
						margin-left: auto;
						margin-right: auto;
					}
				}
			}
		}
	}
}
