/** @format */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Prompt:wght@500&display=swap");

$font-fam-Prompt: "Prompt", sans-serif;
$font-fam-Montserrat: "Montserrat", sans-serif;
$light-color: #fff;

.hero-section {
	width: 100%;
	background: url("../assets/images/hero-bg.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 1585px;
	height: auto;
	.after-img {
		background: url("../assets/images/hero-bg2.png");
		max-width: 1121px;
		max-height: 472.38px;
		position: absolute;
		top: 0;
		left: 460px;
		img {
			width: 100%;
			height: 100%;
		}
	}
	.hero-grid {
		height: 100vh;
		display: grid;
		grid-template-columns: 1fr 4fr;
		margin: 0 50px;
		width: 100%;
		.hero-text {
			position: relative;
			left: 20%;
			top: 20%;
			h1 {
				font-size: 50px;
				font-family: $font-fam-Montserrat;
				font-weight: normal;
				color: $light-color;
				span {
					font-family: $font-fam-Prompt;
					color: $light-color;
				}
			}
			p {
				font-family: $font-fam-Montserrat;
				color: $light-color;
				font-weight: normal;
			}
		}
		.hero-image {
			img {
				height: 100%;
				width: 100%;
				margin-top: -100px;
			}
		}
	}
}

/* Media queries */

@media (max-width: 1440px) {
	.main {
		.hero-section {
			.after-img {
				display: none;
			}
		}
	}
}

@media (max-width: 1024px) {
}
@media (max-width: 1024px) {
	.main {
		.hero-section {
			.hero-grid {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
				overflow: hidden;
				.hero-image {
					display: none;
				}
			}
		}
	}
}
@media (max-width: 999px) {
	.main {
		.hero-section {
			.hero-grid {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
				overflow: hidden;
				.hero-image {
					display: none;
				}
			}
		}
	}
}
@media (max-width: 571px) {
	.main {
		.hero-section {
			.hero-grid {
				.hero-text {
					h1 {
						font-size: 40px;
					}
				}
			}
		}
	}
}
@media (max-width: 425px) {
	.main {
		.hero-section {
			.hero-grid {
				.hero-text {
					left: 0;
					h1 {
						font-size: 40px;
					}
				}
			}
		}
	}
}

@media (max-width: 375px) {
}
