/** @format */
/** @format */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Prompt:wght@500&display=swap");

$font-fam-Prompt: "Prompt", sans-serif;
$font-fam-Montserrat: "Montserrat", sans-serif;
$light-color: #ff6635;

.main {
	.logo {
		background-color: $light-color;

		a {
			font-family: $font-fam-Montserrat;
			color: #fff;
			margin: 0 50px;
			font-size: 20px;
			text-decoration: none;
			span {
				font-family: $font-fam-Prompt;
				color: #fff;
			}
		}
	}
}
