/** @format */

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Prompt:wght@500&display=swap");

$font-fam-Prompt: "Prompt", sans-serif;
$font-fam-Montserrat: "Montserrat", sans-serif;
$light-color: #fff;
$dark-color: #080000;
$light-color2: rgb(240, 240, 15);

.main {
	.performance-section {
		.title {
			position: absolute;
			top: 40%;
			left: 50%;
			transform: translate(-50%, -50%);
			h1 {
				font-family: $font-fam-Prompt;
				color: $light-color;
			}
		}
		&::before {
			content: "";
			position: absolute;
			background: url("../assets/images/Vector\ 3.png");
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;

			z-index: -1;
			top: -200px;
			left: 0px;
			margin: 0 180px;
			max-width: 1600px;
			width: 100%;
			height: 2100px;
		}
		.performance-grid {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			margin-left: auto;
			margin-right: auto;
			margin: 0 100px;
			gap: 100px;

			.performance-canvas,
			.apps-canvas {
				width: 100%;
				height: 500px;
				padding: 50px;
				background-color: #fff;
				border-radius: 10px;
				margin-top: 180px;

				.icon {
					margin-bottom: 50px;
					display: flex;
					justify-content: center;
				}
				strong {
					font-family: $font-fam-Prompt;
					font-weight: normal;
					margin-top: 30px;
				}
				h2 {
					font-family: $font-fam-Prompt;
					font-weight: normal;
					margin-top: 50px;
				}
				h3 {
					font-family: $font-fam-Montserrat;
					margin-top: 50px;
				}
				p {
					font-family: $font-fam-Montserrat;
					line-height: 30px;
					margin-top: 30px;
				}
			}
			.apps-canvas {
				position: relative;
				top: 200px;
				.apps-btn {
					display: flex;
					justify-content: center;
					input {
						height: 50px;
						width: 100px;
						border-radius: 50px;
						border: none;
						width: 200px;
						background-color: $light-color2;
						color: $light-color;
						margin-top: 30px;
						cursor: pointer;
					}
				}
				img {
					width: 100%;

					margin-top: -150px;
				}
			}
		}
	}
}

//
@media (max-width: 1440px) {
	.main {
		.performance-section {
			&::before {
				margin: 0;
			}
			.performance-grid {
				margin: 0 20px;
				.performance-canvas,
				.apps-canvas {
					height: 550px;
				}
			}
		}
	}
}

@media (max-width: 1224px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 992px) {
	.main {
		.performance-section {
			.title {
				top: 35%;
			}
			&::before {
				margin: 0;
				height: 7000px;
			}
			.performance-grid {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
				gap: 0px;
				.performance-canvas,
				.apps-canvas {
					height: 700px;
					margin-top: 150px;
				}
			}
		}
	}
}

@media (max-width: 538px) {
	.main {
		.performance-section {
			&::before {
				margin: 0;
				height: 6000px;
			}
			.performance-grid {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
				.performance-canvas,
				.apps-canvas {
					height: 550px;
				}
			}
		}
	}
}

@media (max-width: 346px) {
	.main {
		.performance-section {
			&::before {
				margin: 0;
				height: 7000px;
			}
			.performance-grid {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
			}
		}
	}
}

@media (max-width: 346px) {
	.main {
		.performance-section {
			&::before {
				margin: 0;
				height: 7000px;
			}
			.performance-grid {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
				.performance-canvas,
				.apps-canvas {
					height: 650px;
				}
			}
		}
	}
}
