/** @format */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Prompt:wght@500&display=swap");

$font-fam-Prompt: "Prompt", sans-serif;
$font-fam-Montserrat: "Montserrat", sans-serif;
$light-color: #fff;
$main-color: #d64737;

.main {
	.users-section {
		height: 50vh;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		place-items: center;
		width: 100%;
		.user-text {
			text-align: center;
			h2 {
				font-family: $font-fam-Montserrat;
				color: $main-color;
				font-weight: normal;
			}
			p {
				text-transform: uppercase;
				font-family: $font-fam-Montserrat;
				font-weight: 800;
			}
		}
	}
}

//
@media (max-width: 1440px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 1004px) {
	.main {
		.users-section {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
		}
	}
}
@media (max-width: 992px) {
	.main {
		.users-section {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
		}
	}
}
@media (max-width: 320px) {
	.main {
		.users-section {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
			margin: 0;
		}
	}
}
